[submodule "RLJO/Arab"]
	path = RLJO/Arab
	url = git@github.com:RLJO/Arab.git
	branch = app-project_report_pdf

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 15.0
