[submodule "RLJO/Arab"]
	path = RLJO/Arab
	url = git@github.com:RLJO/Arab.git
	branch = app-project_report_pdf

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 15.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 15.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 15.0

[submodule "OCA/management-system"]
	path = OCA/management-system
	url = git@github.com:OCA/management-system.git
	branch = 15.0

[submodule "OCA/mis-builder-contrib"]
	path = OCA/mis-builder-contrib
	url = git@github.com:OCA/mis-builder-contrib.git
	branch = 15.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 15.0
